{% set page_name = "oi33_algorithm_user" %}
{% extends "layout/basic.html" %}
{% import "partials/oi33_algorithm.html" as alg with context %}
{% import "partials/oi33_profile.html" as profile with context %}
{% block content %}
<div class="row">
  <div class="medium-9 columns">
    <div class="section">
      <div class="section__header">
        <h1 class="section__title">算法掌握程度</h1>
      </div>
      <div class="typo section__body no-media">
        {{ alg.display(panel, udoc) }}
      </div>
    </div>
  </div>
  <div class="medium-3 columns">
    {{ profile.userCard(udoc, panel.isSelf) }}
  </div>
</div>
{{ alg.style() }}
{{ profile.style() }}
{% endblock %}
