{% set page_name = "oi33_wiki_main" %}
{% extends "layout/oi33_wiki.html" %}
{% block nav_actions %}
{% if handler.user.hasPriv(PRIV.PRIV_MOD_BADGE) %}
<li class="nav__list-item">
  <a href="/oi33/wiki/index/edit" class="nav__item">{{ _('Edit') }}</a>
</li>
{% endif %}
{% endblock %}
{% block content %}
<div class="row">
  <div class="medium-12 columns">
    <div class="section">
      <div class="section__body">
        <div class="typo richmedia">{{ bulletin.content|markdown|safe }}</div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
