{% set page_name = "oi33_algorithm_user" %}
{% extends "layout/basic.html" %}
{% import "components/user.html" as user with context %}
{% import "partials/oi33_algorithm.html" as alg with context %}
{% block content %}
<div class="row">
  <div class="medium-12 columns">
    <div class="section">
      <div class="section__header">
        <h1 class="section__title">算法掌握程度</h1>
        <div class="section__tools">
          {{ user.render_inline(udoc) }}
          {% if panel.isTeacher and not panel.isSelf %}
          <a class="rounded button" href="{{ url('oi33_algorithm_manage') }}">管理算法项目</a>
          {% endif %}
          <a class="rounded button" href="{{ url('user_detail', uid=udoc._id) }}">返回资料页</a>
        </div>
      </div>
      <div class="typo section__body no-media">
        {{ alg.panel(panel, udoc) }}
      </div>
    </div>
  </div>
</div>
{{ alg.style() }}
{% endblock %}
