{% set page_name = "oi33_wiki_main" %}
{% import "components/nothing.html" as nothing with context %}
{% import "components/paginator.html" as paginator with context %}
{% extends "layout/basic.html" %}
{% block content %}
<div class="row">
  <div class="medium-9 columns">
    <div class="section">
      <div class="section__header">
        <h1 class="section__title">
          {% if category %}{% for c in categories %}{% if c._id == category %}{{ c.name }}{% endif %}{% endfor %}{% else %}{{ _('All Pages') }}{% endif %}
        </h1>
      </div>
      <div class="section__body no-padding">
        {% if not docs.length %}
        {{ nothing.render(_('No wiki pages yet.')) }}
        {% else %}
        <table class="data-table">
          <colgroup>
            <col class="col--title">
            <col class="col--category" style="width:8rem">
            <col class="col--updated" style="width:14rem">
          </colgroup>
          <thead>
            <tr>
              <th class="col--title">{{ _('Title') }}</th>
              <th class="col--category">{{ _('Category') }}</th>
              <th class="col--updated">{{ _('Updated At') }}</th>
            </tr>
          </thead>
          <tbody>
            {% for doc in docs %}
            <tr>
              <td class="col--title">
                <a href="/oi33/wiki/{{ doc._id }}">{{ doc.title }}</a>
              </td>
              <td class="col--category">
                {% for c in categories %}{% if c._id == doc.category %}{{ c.name }}{% endif %}{% endfor %}
              </td>
              <td class="col--updated">
                {{ datetimeSpan(doc.updatedAt)|safe }}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {{ paginator.render(page, upcount) }}
        {% endif %}
      </div>
    </div>
  </div>

  <div class="medium-3 columns">
    <div class="section side">
      <div class="section__header">
        <h1 class="section__title">{{ _('Categories') }}</h1>
      </div>
      <div class="section__body">
        <ol class="menu">
          <li class="menu__item">
            <a href="/oi33/wiki" class="menu__link{% if category is undefined %} active{% endif %}">{{ _('All') }}</a>
          </li>
          {% for c in categories %}
          <li class="menu__item">
            <a href="/oi33/wiki?category={{ c._id }}" class="menu__link{% if category == c._id %} active{% endif %}">{{ c.name }}</a>
          </li>
          {% endfor %}
        </ol>
      </div>
    </div>

    {% if handler.user._id %}
    <div class="section side">
      <div class="section__header">
        <h1 class="section__title">{{ _('Actions') }}</h1>
      </div>
      <div class="section__body">
        <ol class="menu">
          <li class="menu__item"><a href="/oi33/wiki/create" class="menu__link">{{ _('New Page') }}</a></li>
          {% if handler.user.hasPriv(PRIV.PRIV_MOD_BADGE) %}
          <li class="menu__item"><a href="/oi33/wiki/import" class="menu__link">{{ _('Import') }}</a></li>
          <li class="menu__item"><a href="/oi33/wiki/export" class="menu__link">{{ _('Export All') }}</a></li>
          {% endif %}
        </ol>
      </div>
    </div>
    {% endif %}

    {% if handler.user.hasPriv(PRIV.PRIV_MOD_BADGE) %}
    <div class="section side">
      <div class="section__header">
        <h1 class="section__title">{{ _('Admin') }}</h1>
      </div>
      <div class="section__body">
        <ol class="menu">
          <li class="menu__item"><a href="/oi33/wiki/categories" class="menu__link">{{ _('Categories') }}</a></li>
        </ol>
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
