{% set page_name = "oi33_wiki_show" %}
{% extends "layout/oi33_wiki.html" %}
{% block nav_actions %}
{% if handler.user._id %}
<li class="nav__list-item">
  <a href="/oi33/wiki/{{ doc._id }}/edit" class="nav__item">{{ _('Edit') }}</a>
</li>
<li class="nav__list-item">
  <a href="/oi33/wiki/{{ doc._id }}/export" class="nav__item">{{ _('Export') }}</a>
</li>
{% endif %}
{% if handler.user.hasPriv(PRIV.PRIV_MOD_BADGE) and doc._id != 'index' %}
<li class="nav__list-item">
  <a href="javascript:;" onclick="if(confirm('{{ _("Are you sure you want to delete this page?") }}')){var f=document.getElementById('w_delete');f.submit();}" class="nav__item">{{ _('Delete') }}</a>
</li>
{% endif %}
{% endblock %}
{% block content %}
<div class="row">
  <div class="medium-12 columns">
    <div class="section">
      <div class="section__header">
        <h1 class="section__title">{{ doc.title }}</h1>
      </div>
      <div class="section__body">
        <div class="typo richmedia">
          <div style="margin-bottom:1rem;font-size:0.85rem;opacity:0.6;">
            {{ _('Category') }}: <a href="/oi33/wiki/pages?category={{ doc.category }}">{{ catDict[doc.category] or doc.category }}</a>
            · {{ _('Updated At') }} {{ datetimeSpan(doc.updatedAt)|safe }}
          </div>
          <div class="markdown">{{ doc.content|markdown|safe }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
{% if handler.user.hasPriv(PRIV.PRIV_MOD_BADGE) %}
<form id="w_delete" method="post" action="/oi33/wiki/{{ doc._id }}/delete" style="display:none;">
  <input type="hidden" name="csrfToken" value="{{ handler.csrfToken }}">
</form>
{% endif %}
{% endblock %}
